/* body starts here */
body{
  background-image: url(pic3.jpg);

}
/* header starts here */
#slider{
  background-image: url(pic1.jpg);
  background-size: cover;
  background-position: relative;
  height:250px;
  box-shadow: 6px 10px #7E2E0D;
  border-radius: 15px;
}
#slider h1{
  color:white;
  font-size: 50px;
  text-align: center;
  padding-top: 80px;
}
/* header ends here */

/* game-area starts here */

.card-body{
  color:white;
}
#abc{
  float:right;
  padding-top: 70px;
  font-weight: lighter;
}

#def{
  float:left;
  color:white;
  padding-top:20px;
  padding-left: 80px;
  padding-bottom: 30px;
  margin-top: 50px;
  box-shadow: 5px 10px  #7E2E0D;
  border-radius: 15px;
}
#result{
  display:none;
}
/* game-area ends here */

/* footer starts here */

#foot p{
  color:white;
  font-size: 30px;
  text-align:left ;
  padding-top: 250px;
}
#foot img{

 float: right;
  padding-top:250px ;
}
/* footer ends here */
/* body ends here */
